.container {
  position: relative;

  & + & {
    margin-left: 10px;
  }
  &__limitedTag {
    position: absolute;
    padding: 4px 10px;
    display: inline-block;
    left: 10px;
    top: 10px;
    color: #fff;
    font-size: 12px;
    background-color: black;
    border-radius: 50%;
  }

  &__img {
    border-radius: 10px;
    width: 250px;
  }

  &__item {
    width: 250px;
  }

  &__price {
    font-weight: bold;
    margin-top: 10px;
    width: 250px;
  }
}
