.content {
  &__tag1 {
    margin-left: 30px;
  }

  &__tag2 {
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: aqua;
  }

  &__tag3 {
    color: blue;
    background-color: beige;
  }
}
