.content {
  width: 200px;
  display: inline-block;

  & + & {
    margin: 5px;
  }
  &__tag1 {
    width: 40px;
    font-size: 14px;
    position: absolute;
    background: #f08300;
    color: #fff;
  }

  &__tag2 {
    float: right;
    width: 45px;
    font-size: 20px;
    background-image: 'https://www.yoshinoya.com/assets/images/budge.svg';
    background: #f08300;
    color: #fff;
  }

  &__img {
    width: 200px;
    margin-bottom: 10px;
  }

  &__menu {
    font-size: 20px;
  }

  &__price1 {
    font-size: 22px;
  }
  &__price2 {
    font-size: 16px;
  }
}
