.container {
  display: flex;
  flex-direction: column;

  &__test1 {
    color: black;
  }

  &__test2 {
    color: yellowgreen;
  }

  &__input {
    border: 1px solid black;
    background-color: #fff;
    width: 400px;
    height: 30px;
    outline: none;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 6px;
    font-size: 20px;
    background-color:purple;
  }

  &__button {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin-left: 20px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 20px;
    background-color: gray;
    cursor: pointer;
  }

  &__name {
    font-size: 20px;
    margin-left: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: red;
  }

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__text1 {
      font-size: 24px;
      font-weight: 600;
    }
  }
}