.container {
  display: inline-block;
  width: 300px;

  & + & {
    margin-left: 20px;
  }
  &__item {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }

  &__review {
    font-size: 12px;
  }

  &__saleList {
  }

  &__price {
  }

  &__descripution {
  }
}
