.merit {
  padding: 40px 0;
  text-align: center;
  background-color: #fef5e0;

  &__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    padding: 15px 46px;
    height: 100px;

    &__text1 {
      font-size: 20px;
    }

    &__leftIcon {
      position: absolute;
      top: 15px;
      left: 46px;
      border-top: 4px solid #ebb94d;
      border-left: 4px solid #ebb94d;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
    }

    &__rightIcon {
      position: absolute;
      bottom: 15px;
      right: 46px;
      border-bottom: 4px solid #ebb94d;
      border-right: 4px solid #ebb94d;
      width: 50px;
      height: 50px;
      box-sizing: border-box;
    }

    &__text2 {
      font-size: 28px;
    }
  }

  &__box {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    position: relative;
    padding: 20px 20px;

    &__inbox1 {
      box-sizing: border-box;
      flex-basis: 360px;
      text-align: left;

      &__text1 {
        color: #ebb94d;
        font-size: 20px;
        font-weight: 300;
        margin: 8px 0;
      }
    }

    &__inbox2 {
      box-sizing: border-box;
      flex-basis: 360px;
      text-align: left;

      &__text1 {
        color: #ebb94d;
        font-size: 20px;
        font-weight: 300;
        margin: 8px 0;
      }
    }

    &__inbox3 {
      box-sizing: border-box;
      flex-basis: 360px;
      text-align: left;
      &__text1 {
        color: #ebb94d;
        font-size: 20px;
        font-weight: 300;
        margin: 8px 0;
      }
    }
  }
}
