.container {
  display: flex;
  flex-direction: column;

  &__newIcon {
    height: 30px;
  }

  &__MenuBox {
    &__panImgUrl {
      width: 100%;
      height: 180px;
      margin-bottom: 5px;
      display: block;
    }
    &__releaseDate {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      text-align: left;
    }
    &__title {
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0.5em;
      padding: 0 17px;
    }
  }
}
