.container {
  position: relative;
  width: 20%;
  &__itemImg {
    width: 100%;
  }

  &__descriptionBox {
    padding: 0 10%;
    color: #000;
    font-size: 16px;

    &__releaseDate {
      padding-bottom: 4px;
    }
  }

  &__newIcon {
    position: absolute;
    left: 0;
    top: 10px;
    width: 89px;
  }
}
